:root {
  /* Color */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Other*/
  --indent: 24px;
  --items: 3;
}

/* Reset */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  width: calc((100% - 48px) / var(--items));
}
.card-set-team {
  width: calc((100% - 72px) / 4);
}

section {
  padding: 120px 0;
}

/* Боді */
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: var(--color-white);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: ;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-item {
}

.adress-item {
  display: flex;
}

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  border-bottom: 1px solid #e7e9fc;
}

/* Логотип */
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
  color: var(--color-grey);
  color: var(--color-iris);
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.menu-list.active {
  color: #404bbf;
}
.menu-list.active::after {
  background-color: #404bbf;
}

.menu-list:hover,
.menu-list:focus {
  color: #404bbf;
}

/* Адреса */
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
}

.adress-item {
  gap: 40px;
}

.adress-list {
  color: #434455;
  margin-right: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list:hover,
.adress-list:focus {
  color: #404bbf;
}

/* Hero */
.section-hero {
  line-height: 1.07;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/peopleoffice.jpg);
  background-color: var(--color-grey);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* Кнопка */
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  display: block;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  background: #404bbf;
  cursor: pointer;
}

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Portfolio Button */
.portfolio-btn {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  padding: 24px 0;
}
.main-section {
  padding: 96px 0 120px;
}

.items {
  color: var(--color-grey);
  background-color: #ffffff;
}
.title {
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
/* Про компанію */
.company-items title {
  color: var(--color-grey);
}

.about-company {
  display: flex;
  gap: 24px;
}

.about-list:not(:last-child) {
  margin-right: 24px;
}
.about-list {
  width: calc((100% - 72px) / 4);
}

.img-logo-list {
  display: flex;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.title-about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.company-text {
  width: 264px;
  margin-top: 8px;
}

.company-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Приклади робіт */
.title-work {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
  text-align: center;
}

.apply-work {
  padding-top: 0;
}
.apply-list {
  display: flex;
  gap: 24px;
}

/* Наша команда */

.our-team {
  background-color: var(--color-cloud);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
  caret-color: #f4f4fd;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.title-work {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
  text-align: center;
}

.our-team-list {
  padding: 32px 0;
}

.subtitle-team {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.subtext-team,
.subtitle-team {
  text-align: center;
}
.subtext-team {
  margin-bottom: 8px;
}

.img-team {
  padding-bottom: 32px;
}

.team-list {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text {
  line-height: 1.5;
  color: var(--color-slate);
}
/* Portfolio */
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-main-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-main-text h2 {
  margin-bottom: 8px;
}

.menu-list-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list-portfolio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.menu-list-portfolio.active {
  color: #404bbf;
}

.menu-list-portfolio.active::after {
  background-color: #404bbf;
}

.button-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.button-list:hover,
.button-list:focus {
  background: #404bbf;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
}
.button-list:hover,
.button-list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio animation */

.portfolio-link-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 32px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  color: var(--color-cloud);
  background: #4d5ae5;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  height: 100%;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Customers */
.title-customers {
  line-height: 1.1;
}

.customers {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers-link {
  color: #8e8f99;
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 4px;
}

.customers-logo {
  fill: currentColor;
}
/* Футер */
.footer-item {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.social-container {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer {
  padding: 100px 0;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
}

.soc-media {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-logo {
  display: inline-block;
  padding: 0;
}

web-logo-footer {
  color: #4d5ae5;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
  caret-color: #f4f4fd;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background: #31d0aa;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.modal-close {
  position: absolute;

  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  color: #f4f4fd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
